/* line 1, ../compass/sass/styles.scss */
body {
  background-color: #333;
}

/* line 4, ../compass/sass/styles.scss */
#facebook {
  margin-left: 20px;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 10px;
}

/* line 11, ../compass/sass/styles.scss */
#facebook-container img {
  width: 400px;
  display: inherit;
  margin-left: 20px;
  border-radius: 100px;
}
